name: Build and Deploy to AKS

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/terraform/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: azure/docker-login@v1
        with:
          login-server: dprapasacr001.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - run: |
          docker build . -t dprapasacr001.azurecr.io/go-todo-service:1.0
          docker push dprapasacr001.azurecr.io/go-todo-service:1.0

#      - uses: deliverybot/helm@master
#        with:
#          release: 'go-todo-service'
#          namespace: 'default'
#          token: '${{ github.token }}'
#          chart: './helm/go-todo-service'
#          value-files: './helm/go-todo-service/values.yaml'
#        env:
#          KUBECONFIG_FILE: '${{ secrets.KUBECONFIG }}'
